extends ../template

block title
    title StudyDoro - Home

block content
    .text-center.py-5
        h1 Welcome to StudyDoro.
        p.lead Use the navigation above to get started with Pomodoro sessions or view your analytics.
        br
        h6(style="color: red").mt-5 **Kindly accept our notification request for the application to work perfectly. Thank you!